@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* {
  scroll-behavior: smooth;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}



@media (min-width: 1024px) {
  #sidebar{
    height: calc(100dvh - 76px) !important;
  }
}


.admin-menu{
    height: calc(100dvh - 76px) !important;
}

.admin-menu::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.admin-menu::-webkit-scrollbar-track {
  background: #949494; /* Light gray background for the track */
}

/* Customize the scrollbar thumb (the draggable part) */
.admin-menu::-webkit-scrollbar-thumb {
  background: #5a5a5a; /* Darker color for the thumb */
}
#admin-mobile-menu::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

#admin-mobile-menu::-webkit-scrollbar-track {
  background: #949494; /* Light gray background for the track */
}

/* Customize the scrollbar thumb (the draggable part) */
#admin-mobile-menu::-webkit-scrollbar-thumb {
  background: #5a5a5a; /* Darker color for the thumb */

}

#admin-mobile-menu {
  height: calc(100dvh - 112px) !important;
}
